<div class="loadBox">
	<svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
		<path stroke="#505050" stroke-width="4" stroke-linecap="round" fill="none"
			d="M 5,15 A 10 10 90 0 0 25, 15" transform="rotate(0)">
			<animateTransform attributeName="transform" attrubuteType="XML" type="rotate" from="0 15 15"
				to="360 15 15" dur="1s" repeatCount="indefinite" />
		</path>
	</svg>
	<p>Loading...</p>
</div>