.login {
	border:0px; 
	font-family: 'ubuntu', arial;
}
.login h2 {margin: 0px}
.login .greet  {padding-right: 20px; display: inline;}
.login .err    {color:red; margin:0px; margin-bottom: 5px;}
.login .cllink {float: right; padding: 0px; padding-right: 5px}