<head>
	<link href='/resources/login.css' rel='stylesheet'>
</head>

<p class='greet'>Hello, $username$!</p><br>
<a href="/login/logout/">Log Out</a>
<script>
	var loggedin = true;
	var username = "$username$";
</script>