<!DOCTYPE html>
<html>

<head>
    <title>TITLE</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href='/default.css' rel="stylesheet">
    <script src="/noms/nom.js"></script>
</head>

<body>
    <div class='mainbox'>
        <h1>HEADING GOES HERE</h1>
        <div class='menu'>
            <p id='localhost?'>Not locally hosted</p>
            <script src='/localhostdetector.js'></script>
            <a href='/'>Homepage</a>
        </div>

        <!--Content Goes Here-->

    </div>
</body>

</html>