.JSONViewer {
	color: #95C4E2;
}

.JSONViewer input {
	background-color: transparent;
	font-family: Menlo, Monaco, 'Source Sans Pro', 'Courier New',monospace;
	border: 0px;
	/*font-size: 11.5px;*/
}

.JSONViewer .number {
	color: palegreen
}

.JSONViewer .string{
	color: #c89175
}

.JSONViewer .stringContainer{
	display:inline;
	color: #c89175;
}

.JSONViewer .list,.JSONViewer .object {
	padding-left:0px;
	display:inline;
}

.JSONViewer .hidden {
	display: inline;
}

.JSONViewer [hidden] {
	display: none;
}

.JSONViewer .showhide {
	padding: 0px;
}

.JSONViewer .addButton {
	padding: 3px;
}